.results__wrapper {
  width: 100%;
}

.results {
  background-color: #e09e1d;
  border: 0.75rem solid white;
  border-radius: 50%;
  width: 85vh;
  height: 85vh;
  padding: 4rem;
  margin: 0 auto;
  max-width: 650px;
  max-height: 650px;
}

.results--sm-screen {
  padding: 2rem;
  border-radius: 2rem;
  width: 100%;
  height: auto;
  max-width: initial;
  max-height: initial;
}

.results__content {
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.results__title {
  font-weight: 100;
  font-size: 2rem;
}

.results__button {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #e09e1d;
  transition: background-color 0.25s ease;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.75rem 2.25rem;
  border: 0.25rem solid white;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

.results__button:hover {
  background-color: #9e6b06;
}

.results__message {
  font-size: 1.5rem;
  line-height: 1.25;
}
