.choices {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.choice-box {
  width: 75%;
  background-color: white;
  border: 5px solid #37bf86;
  padding: 1rem;
  box-shadow: 0.5rem 0.5rem 0 rgba(35, 117, 83, 0.42);
  text-align: center;
  font-size: 1.4rem;
  line-height: 1;
  margin: 1rem;
  flex-grow: 0;
}

.choice-box__image {
  width: 75%;
}

@media (min-width: 575px) {
  .choices {
    flex-direction: row;
  }

  .choice-box {
    width: 35%;
  }

  .choice-box__image {
    width: 100%;
  }
}

.choice-box__row {
  width: 100%;
  margin: 1rem 0;
}

.choice-box__row:first-child {
  margin-top: 0;
}

.choice-box__row:last-child {
  margin-bottom: 0;
}

.choice-box__label {
  font-weight: 700;
}

.choice-box__button {
  max-width: 100%;
  font-size: 1rem;
  color: #37bf86;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.75rem 2rem;
  border: 0.25rem solid #37bf86;
  transition: background-color 0.25s ease, color 0.25s ease;
  cursor: pointer;
  background-color: white;
  font-weight: 700;
}

.choice-box__button:hover {
  background-color: #37bf86;
  color: white;
}

.tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  font-size: 1.5rem;
}

.tooltip__help,
.tooltip__close {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.tooltip__help:hover,
.tooltip__close:hover {
  opacity: 0.6;
  transform: scale(1.05);
}

.tooltip__container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 60vw;
  max-width: 25rem;
}

.tooltip__container--enter {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 0;
  transform: translate(-50%, -100%) scale(0.75);
}

.tooltip__container--enter-active {
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
}

.tooltip__container--exit {
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  opacity: 1;
  transform: translate(-50%, -100%) scale(1);
}

.tooltip__container--exit-active {
  opacity: 0;
  transform: translate(-50%, -100%) scale(0.75);
}

.tooltip__content {
  background-color: #37bf86;
  border-radius: 1rem;
  color: white;
  padding: 3rem 2rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 400;
}

.tooltip__content::after {
  /* Triangle */
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1rem 1rem 0 1rem;
  border-color: #37bf86 transparent transparent transparent;
}

.tooltip__close {
  position: absolute;
  top: 0.8rem;
  right: 0.8rem;
  width: 1.7rem;
  cursor: pointer;
}

.tooltip__help {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0 0.4rem;
}
