.button-link {
  color: #2098e3;
  display: inline-block;
  padding: 0.25rem 1rem;
  border: 0.25rem solid #2098e3;
  transition: background-color 0.25s ease, color 0.25s ease;
  cursor: pointer;
  max-width: 100%;
}

@media (min-width: 400px) {
  .button-link {
    padding: 0.75rem 1.5rem;
  }
}

.button-link:hover {
  background-color: #2098e3;
  color: white;
}

.button-link--anthony {
  color: #2098e3;
  border: 0.25rem solid #2098e3;
}

.button-link--anthony:hover {
  background-color: #2098e3;
  color: white;
}

.button-link--hannah {
  color: #90278e;
  border: 0.25rem solid #90278e;
}

.button-link--hannah:hover {
  background-color: #90278e;
  color: white;
}

.button-link--taylor {
  color: #f25a28;
  border: 0.25rem solid #f25a28;
}

.button-link--taylor:hover {
  background-color: #f25a28;
  color: white;
}
