.fullscreen-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.responsive-break {
  display: block;
}

@media (min-width: 500px) {
  .responsive-break {
    display: none;
  }
}

.outro {
  text-decoration: underline;
  color: #2098e3;
  font-weight: 600;
}

.content {
  max-width: 900px;
  width: 100%;
  font-size: 1.5rem;
  padding: 2rem;
}

.content > *:first-child {
  margin-top: 0;
}

.content > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 930px) {
  .content {
    padding: 2rem 0;
  }
}

.section {
  margin-bottom: 2rem;
}

@media (min-width: 375px) {
  .section {
    margin-bottom: 3rem;
  }
}

.section > *:first-child {
  margin-top: 0;
}

.section > *:last-child {
  margin-bottom: 0;
}

.list {
  text-align: left;
  margin-left: 1.5rem;
}

.list > li {
  list-style-type: disc;
  margin-bottom: 1.5rem;
}

.text-input {
  font-size: 2rem;
  padding: 0.5rem 1rem;
}
