.fixed-navbar {
  width: 100%;
  background: #90278e;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  font-size: 2rem;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.fixed-navbar__portrait {
  height: 80%;
  /* border-radius: 50%; */
  /* border: 2px solid white; */
}

.fixed-navbar__help {
  height: 65%;
  cursor: pointer;
}

.conversation {
  position: fixed;
  top: 80px;
  bottom: 200px;
  width: 100%;
  background: #fafafa;
  overflow: auto;
  font-size: 1.25rem;
}

.conversation__wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.conversation__message--old {
  opacity: 0.85;
}

.conversation__message:first-child {
  margin-top: auto;
}

.conversation__message {
  width: 50%;
}

.conversation__message--left {
  margin-right: 50%;
  text-align: right;
}

.conversation__message--right {
  margin-left: 50%;
  text-align: left;
}

.conversation__bubble {
  position: relative;
  display: inline-block;
  background: #90278e;
  color: white;
  border-radius: 0.4em;
  padding: 0.55rem 1.5rem;
  margin: 0.35rem;
}

.conversation__message:last-child {
  margin-bottom: 0.5rem;
}

.conversation__message--left .conversation__bubble {
  background: #383838;
}

.conversation__bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border: 0.75em solid transparent;
  margin-left: -0.375em;
  margin-bottom: -0.75em;
}

.conversation__message--left .conversation__bubble:after {
  left: 7.5%;
  border-bottom: 0;
  border-left: 0;
  color: #383838;
  border-top-color: #383838;
}

.conversation__message--right .conversation__bubble:after {
  left: 92.5%;
  border-bottom: 0;
  border-right: 0;
  color: #90278e;
  border-top-color: #90278e;
}

.options-menu {
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;
  box-shadow: 0px -3px 10px 0px rgba(0, 0, 0, 0.03);
  background: white;
}

.options-menu__portrait {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 13%;
  max-width: 160px;
  transform: translate(-50%, -50%);
}

.options-menu__list-item {
  position: absolute;
  cursor: pointer;
}

.options-menu__list-item--visited {
  opacity: 0.4;
}

.options-menu__list-item:hover {
  text-decoration: underline;
}

.options-menu__list-item--1 {
  left: 42%;
  top: 25%;
}

.options-menu__list-item--2 {
  left: 40%;
  top: 50%;
}

.options-menu__list-item--3 {
  left: 42%;
  top: 75%;
}

.options-menu__list-item--4 {
  left: 58%;
  top: 25%;
}

.options-menu__list-item--5 {
  left: 60%;
  top: 50%;
}

.options-menu__list-item--6 {
  left: 58%;
  top: 75%;
}

.options-menu__list-item--1,
.options-menu__list-item--2,
.options-menu__list-item--3 {
  transform: translate(-100%, -50%);
  text-align: right;
}

.options-menu__list-item--4,
.options-menu__list-item--5,
.options-menu__list-item--6 {
  transform: translate(0, -50%);
  text-align: left;
}
