/*
  Helpful references/inspiration:

  https://tylermcginnis.com/react-router-animated-transitions/
  https://codepen.io/rachsmith/pen/PWxoLN
  https://codepen.io/timrijkse/pen/ALgZpp
  https://codepen.io/marcelo-ribeiro/pen/xOOKpO
*/

.fade-transition-exit-active {
  opacity: 0;
}

.fade--enter {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.fade--enter-active {
  transition: opacity 0.4s ease-out 0.5s;
  opacity: 1;
}

.fade--exit {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  pointer-events: none; /* Stop interactivity on fading page */
}

.fade--exit-active {
  transition: opacity 0.4s ease-in; /* Applying transition in fade--exit is too early */
  opacity: 0;
}
