.cart {
  display: flex;
  color: black;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.cart__item {
  position: relative;
  cursor: pointer;
  max-width: 33%;
  background-color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1;
  flex-grow: 0;
  margin: 0.5rem;
  border: 5px solid white;
  flex-grow: 0;
  transition: border 0.2s ease, box-shadow 0.2s ease, transform 0.2s ease;
  box-shadow: 0.3rem 0.3rem 0 rgba(35, 117, 83, 0.42);
}

.cart__item:hover {
  box-shadow: 0.5rem 0.5rem 0 rgba(35, 117, 83, 0.42);
  transform: scale(1.05);
}

.cart__item--selected {
  border: 5px solid #37bf86;
}

.cart__item-image {
  width: 100%;
}

.cart__item-button {
  position: absolute;
  top: 0.15rem;
  right: 0.15rem;
  width: 1rem;
  cursor: pointer;
}

@media (min-width: 500px) {
  .cart__item {
    width: 20%;
    margin: 1rem;
    font-size: 1.4rem;
  }

  .cart__item-button {
    top: 0.3rem;
    right: 0.3rem;
    width: 1.3rem;
  }
}

.bar {
  position: relative;
  background-color: white;
  height: 1rem;
  width: 90%;
  margin: 0 auto 4rem auto;
}

.bar__inner {
  position: absolute;
  background-color: #37bf86;
  height: 100%;
  width: 0;
  transition: width 0.25s ease;
}

.bar__label-container {
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(-50%, 0);
  text-align: center;
  margin-top: 0.5rem;
  transition: left 0.25s ease;
}

.bar__label {
  color: white;
  font-size: 1.5rem;
}

.bar__arrow {
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.75rem 0.75rem 0.75rem;
  border-color: transparent transparent #37bf86 transparent;
}
