.fullscreen-container {
  background-color: #171717;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  color: white;
  font-weight: 700;
  max-width: 650px;
  font-size: 1.8rem;
  padding: 2rem;
}

@media (min-width: 675px) {
  .content {
    padding: 2rem 0;
  }
}

.section {
  margin-bottom: 2rem;
}

@media (min-width: 375px) {
  .section {
    margin-bottom: 3rem;
  }
}

.section *:first-child {
  margin-top: 0;
}

.section *:last-child {
  margin-bottom: 0;
}
