html {
  font-size: 65%;
}

@media (min-width: 375px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 100%;
  }
}

body {
  font-size: 1rem;
  font-family: "Caviar Dreams", sans-serif;
}
