.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.fullwidth {
  width: 100%;
}

.page-wrapper {
  width: 100%;
  position: relative;
}

.page {
  width: 100%;
  position: relative;
}

.fullscreen-container {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
