@import "./reset.css";
@import "./typography.css";
@import "./general-layout.css";
@import "./grid.css";
@import "./page-transitions.css";
@import "./hud.css";

#root {
  position: relative;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

body {
  background: url("../images/background/doodles-background.png") repeat;
}
