@import "./reset.css";
@import "./typography.css";
@import "./general-layout.css";
@import "./grid.css";
@import "./page-transitions.css";
@import "./hud.css";
@import "./interstitial.css";
@import "./prompt.css";

#root {
  position: relative;
}

.text-center {
  text-align: center;
}

body {
  background: url("../images/background/doodles-background.png") repeat;
}
