.fade-transition-enter {
  transition: opacity 0.25s ease-in-out 0.25s;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fade-transition-enter {
  opacity: 0;
}

.fade-transition-enter-active {
  opacity: 1;
}

.fade-transition-exit {
  transition: opacity 0.25s ease-in-out;
  opacity: 1;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.fade-transition-exit-active {
  opacity: 0;
}
