html {
  font-size: 65%;
}

@media (min-width: 375px) {
  html {
    font-size: 75%;
  }
}

@media (min-width: 800px) {
  html {
    font-size: 90%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

body {
  font-family: "Glacial Indifference", sans-serif;
  font-size: 1rem;
}

button {
  font-family: "Glacial Indifference", sans-serif;
}
