.fullscreen-container {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.responsive-break {
  display: block;
}

@media (min-width: 500px) {
  .responsive-break {
    display: none;
  }
}

.content {
  color: white;
  max-width: 700px;
  width: 100%;
  font-size: 1.5rem;
  padding: 2rem;
}

.puzzle p {
  margin: 0.75rem;
}

@media (min-width: 725px) {
  .content {
    padding: 2rem 0;
  }
}

.section {
  margin-bottom: 2rem;
}

@media (min-width: 375px) {
  .section {
    margin-bottom: 3rem;
  }
}

.section *:first-child {
  margin-top: 0;
}

.section *:last-child {
  margin-bottom: 0;
}

.list {
  text-align: left;
  margin-left: 1.5rem;
}

.list > li {
  list-style-type: disc;
  margin-bottom: 1.5rem;
}
